// section about the website
.about-website {
  background: #F4FFF0;
  padding: 40px;
}

.about-website-inf{
  padding-bottom: 30px;
}

.imgs-home {
  display: flex;
  height: 130px;
  gap: 15px;

  .plant-bottom {
    align-self: flex-end;
  }

  .svg-middle {
    align-self: center;
  }
}

.imgs-home img {
  border-radius: 15px;
  width: 100px;
  height: auto;
}

// section about the utilities
.utilities {
  background: #1A936F;
  padding: 20px;
}

.utilities > i {
  width: 100px;
  height: 80px;
  justify-content: center;
  margin-bottom: 15px;
}

.line {
  width: 150px;
  height: 20px;
}

.utility-card {
  width: 200px;
  padding-top: 15px;
}
