.color-background {
  background-color: #fcf9f3;
}

// section about the website
.about-website {
  padding: 50px;
}

.about-website-inf{
  padding-bottom: 30px;
}

.font-home {
  font-family: "Flower", sans-serif;
  text-decoration: none;
  font-size: 60px;
  color: #cf7675;
}

.imgs-home {
  margin: 120px 0 90px 0;
  display: flex;
  align-items: center;
  height: 160px;
  gap: 30px;

  .plant-bottom {
    align-self: flex-end;
  }

  .svg-middle {
    align-self: center;
  }
}

.imgs-home img {
  width: 330px;
  height: 250px;
  border-radius: 15px;
}

.mid-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sun-color {
  color: #964381;
}

.drop-color {
  color: #BD1550#BD1550;
}

.leaf-color {
  color: #642978;
}

// section about the utilities
.utilities {
  padding: 80px 20px;
}

.utilities > i {
  width: 100px;
  height: 80px;
  justify-content: center;
  margin-bottom: 15px;
}

.line {
  width: 150px;
  height: 20px;
}

.utility-card {
  width: 200px;
  padding-top: 15px;
}


.photo-about{
  width: 150px;
  border-radius: 50%;
}

.about{
  display: flex;
  justify-content: center;
  gap: 120px;
}

h5{
  margin-top: 14px;
  font-style: italic;
  color: #BD1550;
  padding-top: 5px;
}

.icon-about{
  color: #642978;
  opacity: 0.7;
  text-decoration: none;
  font-size: 32px;
  padding: 8px;
}

.logo-about{
  width: 55px;
}
