.fundo {
  background-color: #fcf9f3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
  .search{
    margin: 30px;
    margin-bottom: 600px;
    width: 350px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
  }
}

.grid-card {
  flex-direction: column;
  justify-content: space-around;
  margin-top: -200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 850px;
  height: 730px;
  border-radius: 5%;
  background-color:#d5e6d7;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  gap: 1rem;
  padding: 2rem;

  .plant-card{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

    img {
      border-radius: 15px;
      box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
    }
  }
}
