.back-col {
  background-color: #f4fff0;
}

.plant-name {
  text-align: center;
  padding-bottom: 20px;
}

.big-ban {
  top: -120px;
  position: relative;
  width: 80vw;
  background: #E9FFE1;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  gap: 5rem;
  padding: 5rem;
}

.img-ban {
  width: 400px;
  height: 400px;
  border-radius: 15px;
}

.mb-2-5rem {
  margin-bottom: 2.5rem;
}

.img-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.btn-add {
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #cc6f6e;
  font-weight: bold;
  border-radius: 15px;
  padding: 14px 40px;
  width: 80%;
  transition-duration: 0.4s;
}

.btn-add:hover {
  background-color:#f19b99;
  color: white;
}

.plants-container{
  .grid-product{
    background-color:#ADE4B5;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 20px;

  }

.grid-product{
  background-color:#ADE4B5;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}


  img {
    height: 140px;
    width: 150px;
    object-fit: cover;
  }
}

.form-check {
  display: flex;
  gap: 48px;
  font-weight: bold;
}

.btn-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
