.alo {
  width: 1200px;
  height: 900px;
  margin: 10px 100px;

  background: #E9FFE1;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px
}

.alo-2 {
  position: relative;
  top: 70px;
  left: 720px;
  width: 400px;
  height: 400px;
  // margin-left: 720px;
  background: #E9FFE1;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px
}

.out {
  position: relative;
  top: -120px;
  display: flex;
  justify-content: center;
}

.grid-product{
  background-color:#ADE4B5;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;

}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-product img {
  height: 140%;
  width: 150px;
  object-fit: cover;
}
