.back-col {
  background-color: #f4fff0;
}

.plant-name {
  text-align: center;
  padding-bottom: 20px;
}

.big-ban {
  top: -120px;
  position: relative;
  width: 80vw;
  background: #E9FFE1;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  gap: 5rem;
  padding: 5rem;
}

.img-ban {
  width: 400px;
  height: 400px;
  border-radius: 15px;
}

.mb-2-5rem {
  margin-bottom: 2.5rem;
}

.img-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.btn-add {
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #cc6f6e;
  font-weight: bold;
  border-radius: 15px;
  padding: 14px 40px;
  width: 80%;
  transition-duration: 0.4s;
}


.plants {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 25px;


  .card-product {
    background-color:#ADE4B5;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 15px;

    .card-content {
      display: flex;
      gap: 50px;
      align-items: center;
    }

    img {
          height: 140px;
          width: 150px;
          box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          object-fit: cover;
        }
  }
}

.form-check {
  display: flex;
  gap: 48px;
  font-weight: bold;
}

.btn-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
