<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/succulent.jpg);" >
  <div class="container">
    <h1><strong>Semeando Verde</strong></h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
  </div>
</div>
