
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'succulent.jpg' %>);" >

  <div class="container">
    <h1><strong>Semeando Verde</strong></h1>
    <p>O cuidado que as suas plantinhas merecem.</p>
  </div>
</div>

<div>
  <div>
    <h2>Sementinhas de cuidado</h2>
    <p>Sabe quando você tem uma plantinha linda mas por alguma razão ela começa a morrer?
      Pois eh! Você veio al local cer ajudando você a cuidar dela da melhor forma possível!!! </p>
  </div>

  <div class="imgs-home">
        <%= image_tag 'logo.png', alt: "planta doente" %>
        <%= image_tag 'logo.png', alt: "planta melhorando" %>
        <%= image_tag 'logo.png', alt: "planta saudavel" %>
      <%# <div class="col img_home">
      </div>

      <div class="col img_home">
      </div>

      <div class="col img_home">
      </div> %>
  </div>
</div>

<section class="utilities">
  <h2>Como podemos te ajudar</h2>
  <div>
  <div>
</section>

