
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'succulent.jpg' %>);" >
</div>
<div class="out">
<div class='alo'>

<div class="alo-2">

</div>

</div>
</div>
