<%= turbo_frame_tag "modal" do %>
  <div id="modal" class="transparent-overlay" data-controller="turbo-modal" data-turbo="true">
    <div class="modal-card ">
      <div class="d-flex w-100 justify-content-between">
        <h3>Mude a foto da sua Plantinha</h3>
        <i class="fas fa-times modal-close-button align-self-start" data-action="click->turbo-modal#closeModal" data-modal-layer="modal"></i>
      </div>
      <%= yield %>
    </div>
  </div>
<% end %>
