.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold;

  a {
    text-decoration: none;
    color: white;
  }
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.parallax {
  background-image: url('img_parallax.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
