// Bottons
.btn-all {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 15px;
  padding: 14px 40px;
  width: 40%;
  transition-duration: 0.4s;
}

.btn-save {
  background-color: #1A936F;
  color: #fff;
  border: none;
}

.btn-delete {
  color: #cc6f6e;
  border: 1px solid #cc6f6e;
  margin-left: 30px;
}

.btn-edit {
  color: #1A936F;
  border: 1px solid #1A936F;
  width: 50%;
  font-weight: 600;
  border-radius: 15px;
  padding: 7px 20px;
}

.btn-add {
  margin-top: 40px;
}

// hover
.btn-save:hover {
  font-weight:700 !important;
  color: #fff !important;
}

.btn-delete:hover {
  font-weight:700 !important;
  color: #cc6f6e !important;
}

.btn-edit:hover {
  font-weight:700 !important;
  color: #1A936F !important;
}

#check-box{
  accent-color: #1A936F;
}

#check-box {
  width: 16px;
  height: 16px;
}

input:checked{
  width: 18px;
  height: 18px;
}

.btn-my-search {
  border-radius: 0 20px 20px 0;
  background-color: #18936e;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: #fcf9f3;
  color: #fff;
  font-weight: bold ;

  &:hover {
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: #fcf9f3;
    background-color: #40e29a;
  }

}

.btn-my-search:hover {
  color: black;
}
