// Bottons
.btn-all {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border-radius: 15px;
  padding: 14px 40px;
  width: 40%;
  transition-duration: 0.4s;
}

.btn-save {
  background-color: #1A936F;
  color: #fff;
  border: none;
}

.btn-delete {
  color: #cc6f6e;
  border: 1px solid #cc6f6e;
  margin-left: 30px;
}

.btn-edit {
  color: #1A936F;
  border: 1px solid #1A936F;
  width: 50%;
  font-weight: 600;
  border-radius: 15px;
  padding: 7px 20px;
}

.btn-add {
  margin-top: 40px;
}

// hover
.btn-save:hover {
  font-weight:700 !important;
  color: #fff !important;
}

.btn-delete:hover {
  font-weight:700 !important;
  color: #cc6f6e !important;
}

.btn-edit:hover {
  font-weight:700 !important;
  color: #1A936F !important;
}

.check-box {
  background-color: #1A936F !important;
}
