
.plants {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 90px;
  padding: 80px 0;

  a {
    text-decoration: none;
    color: #2B4141;
  }
}

.card-product {
  background-color:#ADE4B5;
  position: relative;
  height: 220px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;

  img {
    height: 150px;
    width: 150px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    object-fit: cover;
    position: absolute;
    left: -15%;
  }
}

.card-content {
  margin-left: 35%;
  margin-top: 8%;
}

.card-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
