.icons-show{
  display: flex;
  gap: 1rem;
  color: #1a936f;
}

.toxic{
  color: #CC6F6E;
  font-size: 20px;
}

.no-toxic{
  color: #1a996f;
  font-size: 20px;
}

.camera-icon {
  text-decoration: none;
  color: #1A936F;
  background-color: #ffffffe0;
  border: 1px solid #1A936F;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  margin: 10px;
}

.camera-icon:hover {
  color: #fff !important;
  background-color: #1A936F !important;
}

.icon-edit-name{
  font-size: 16px;
}
