// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "bottom";
@import "card_plant_garden";
@import "card_plant_shows";
@import "footer";
@import "form_legend_clear";
@import "form";
@import "modal_card";


body {
  background-color: #fcf9f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@import "icons";
@import "logs";
@import "navbar";
