.navbar-lewagon {
  justify-content: space-between;
  background-color: #fcf9f3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon img {
  width: 50px;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  padding: 0 15px;
}

.nav-item{
  display: flex;

  .nav-link {
      font-family: "Flower", sans-serif;
      color: black;
  }
}

@media (max-width: 540px) {
  .nav-item {
    flex-direction: column;
  }
}

.logo {
  width: 100px;
}

.navbar-brand img{
  width: 250px;
}
